html, body{
	margin:0;
}

.container{
	width: 600px;
	margin: auto;
}

.row{
	width: 100%;
}

.jogador{
	cursor: pointer;
	float:left;
}

.versus{
	float:left;
}

.versus-first{
	float: left;
	margin-left: 20px;
	border: 3px solid black;
	width: 195px;
	height: 250px;
}

.versus p{
	font-size: 80px;
 	margin-left: 28px;
}